.fact__container{
    justify-content: space-between;
    gap: 20px;
}
.fact__container .title{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.fact__container .lable{
    opacity: 0.7;
    font-size: 14px;
    text-align: center;
}
@media (max-width:1100px){
    .fact__container .title{
        font-size: 32px;
    }
    .fact__container .lable{
        font-size: 12px;
    }
}
@media (max-width:500px){
    .fact__container .title{
        font-size: 25px;
    }
}
